.logo {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.33;
  letter-spacing: 0.03em;
}
.header-logo {
  color: #2e2f42;
}
.logo.accent {
  color: #4d5ae5;
}
.header-navigation {
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.header-navigation a:hover,
.header-navigation a:focus {
  color: #404bbf;
}
.header-address {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.header-address a:hover,
.header-address a:focus {
  color: #404bbf;
}

.header-address a {
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-navigation-list {
  display: flex;
  gap: 40px;
  margin-left: 76px;
  margin-right: auto;
  padding: 0;
}

.header-address-list {
  display: flex;
  gap: 40px;
}
.header {
  border-bottom: 1px solid #e7e9fc;
}
