.logo {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.33;
  letter-spacing: 0.03em;
}
.header-logo {
  color: #2e2f42;
}
.logo.accent {
  color: #4d5ae5;
}
.header-navigation {
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.header-navigation a:hover,
.header-navigation a:focus {
  color: #404bbf;
}
.header-address {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.header-address a:hover,
.header-address a:focus {
  color: #404bbf;
}
