.hero {
  background-color: #2e2f42;
  color: #ffffff;
}
.hero-logo {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}
.hero-order-button {
  background-color: #4d5ae5;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.hero-order-button:hover,
.hero-order-button:focus {
  background-color: #404bbf;
}
