.portfolio h2 {
  color: #2e2f42;
  line-height: 1.11;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.02em;
  text-align: center;
}
.portfolio h3 {
  color: #2e2f42;
  line-height: 1.2;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
}
.portfolio p {
  color: #434455;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.02em;
}

.portfolio p {
  margin-top: 8px;
}

.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 24px;
  column-gap: 48px;
  align-items: center;
  margin-top: 72px;
}
.portfolio-list > li {
  width: calc((100% - 24px * 2) / 3);
}
.portfolio-wrapper {
  padding-bottom: 16px;
  padding-top: 36px;
  border-bottom: 1px solid;
  border-right: 1px solid;
  border-left: 1px solid;
  border-radius: 0 0 4px 4px;
  border-color: rgba(64, 75, 191, 0.5);
}

.portfolio-list img {
  display: block;
}
