.team {
  background-color: #f4f4fd;
}

.team-list > li {
  background-color: #ffffff;
}

.team-list h3,
.team-list p {
  text-align: center;
}
.team-list {
  display: flex;
  gap: 24px;
  align-items: center;
  padding: 120px 0;
}
